<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,600;1,600&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-container">
            <div><img src="/image/W..svg" alt="logo"></div>
            <div class="menu">
                <p>Home</p>
                <p>New</p>
                <p>Popular</p>
                <p>Trending</p>
                <p>Categories</p>
            </div>
        </div>
    </header>
    <main>
        <div class="main-container">
            <div class="main-grid">
                <div class="item1">
                    <img src="/image/vasilis-chatzopoulos-6lwyzronth8-unsplash.png" alt="je sais pas encore">
                </div>
                <div class="item2">
                    <h1>The bright<br>Future of <br>Web 3.0?</h1>
                </div>
                <div class="item3">
                    <p class="text-item3">We dive into the next evolution of the web that claims to put the power of the platforms back into the hands of the people. But is it really fulfilling its promise?</p>
                    <div class="read-more">
                        <p class="text-read-more">READ MORE</p>
                    </div>
                </div>
            </div>
            <div class="main-box">
                <div><h2>New</h2></div>
                <div>
                    <h3>Hydrogen VS Electric Cars</h3>
                    <p class="main-box-p">Will hydrogen-fueled cars ever catch up to EVs?</p>
                </div>
                <div>
                    <h3>The Downsides of AI Artistry</h3>
                    <p class="main-box-p">What are the possible adverse effects of on-demand AI image generation?</p>
                </div>
                <div>
                    <h3>Is VC Funding Drying Up?</h3>
                    <p>Private funding by VC firms is down 50% YOY. We take a look at what that means.</p>
                </div>
            </div>
        </div>
    </main>
    <section>
        <div class="section-container">
            <div class="grid-item">
                <div class="item1">
                    <img src="/image/Bitmap.jpg" alt="ijoeijf">
                </div>
                <div class="item2">
                    <h2>01</h2>
                    <h3>Reviving Retro PCs</h3>
                    <p>What happens when old PCs are given modern upgrades?</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="item1">
                    <img src="/image/Bitmap2.jpg" alt="ijoeijf">
                </div>
                <div class="item2">
                    <h2>02</h2>
                    <h3>Top 10 Laptops of 2022</h3>
                    <p>Our best picks for various needs and budgets.</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="item1">
                    <img src="/image/Bitmap3.jpg" alt="ijoeijf">
                </div>
                <div class="item2">
                    <h2>03</h2>
                    <h3>The Growth of Gaming</h3>
                    <p>How the pandemic has sparked fresh opportunities.</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>